.Navigator {
   
    width: 100%;
    background-color: rgb(77, 17, 218);
    
    display : inline-block;
    height: 50px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.Nav {
    height: 50px;
    display: inline-flex;
    margin-top: -8px;
    padding-left: 250px;
}

.Nav .icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: 1s;
}
.Nav .icon:hover {
    transition: 0.1s;
    cursor: pointer;
    color: rgb(127, 127, 145);
    font-size: 12px;
    border-bottom: 1px solid rgb(127, 127, 145);
}

.Nav ul{
    
    width: 900px;
    display : inline-flex;
    font-size: 20px;
    gap: 30px;
    height: 30px;
    padding-bottom: -40px;
}
.Nav ul li{
    display: inline-block;
    list-style-type : none;
    font-weight: 100;
    color: white;
    font-size: 20px;
}
.Nav ul li a{
    text-decoration: none; transition:  1s;
    color: white;
    padding-bottom: 10px;
}
.Nav ul li a:hover{
    text-decoration: none; transition:  0.1s;
    color: rgb(127, 127, 145);
    border-bottom: 1px solid rgb(127, 127, 145);
}
.Nav ul .li_icon_nav{
    padding-left: 20vw;
    display: inline-flex;
    width: 300px;
    height: 30px;
    margin-top: -3px;
    
}

.li_icon_icon{
    margin-top: 3px;
    display: inline-flex;
}

.input_box{
    width: 150px;
    height: 32px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 5px;
    margin-top: -3px;
    display: inline-flex;
    transition: width 1s;
}
.input_box:hover{
    width: 200px;
    border: 2px solid rgb(186, 186, 209);
}
.input_box input {
    background-color: rgb(77, 17, 218);
    width: 95%;
    color: white;
    margin-top: 5px;
    
    height: 20px;
    border: 0px ;
    font-size: 13px;
    font-weight: 100;
    outline: none;
}

.input_box .Search_button{
    margin-top: 6px;
    margin-left: 5%;
    transition: color 1s;
}
.input_box .Search_button:hover{
    cursor: pointer;
    margin-top: 6px;
    margin-left: 5%;
    color: rgb(127, 127, 145);
    transition: color 0.1s;
}